<h3>Posts</h3>
<div layout="row" flex>

    <md-list>
        <md-list-item ng-repeat="post in posts.posts">
            <md-button ng-click="posts.chargePost(post)">{{ post._id }}</md-button>
        </md-list-item>
    </md-list>

    <md-content id="content">
        <form method="post" id="contactFrm" name="contactFrm">

            <label for="id">ID: <strong>{{ posts.editPost._id }}</strong></label><br />
            <label for="users">User: <strong>{{ posts.editPost.user }}</strong></label><br />
            <label for="date">Date: <strong>{{ posts.editPost.date }}</strong></label><br>

            <br><br>

            <md-input-container class="md-block">
                <label for="id">Titre</label>
                <input type="text" required="" ng-model="posts.editPost.title" class="txt">
            </md-input-container>

            <md-input-container class="md-block">
                <label for="id">Description</label>
                <input type="text" required="" ng-model="posts.editPost.desc" class="txt">
            </md-input-container>

            <md-input-container class="md-block">
                <label for="id">Texte</label>
                <textarea ng-model="posts.editPost.body" md-maxlength="1000" rows="5"></textarea>
            </md-input-container>

            <md-button class="md-primary md-raised" ng-click="posts.managePost(posts.editPost)">Enregistrer</md-button>
            <md-button class="md-raised" ng-click="posts.resetPost()">Annuler</md-button>
            <md-button class="md-warn md-raised" ng-click="posts.deletePost(posts.editPost)">Supprimer</md-button>

            <br><br>

            <div md-colors="{color: 'green-500', 'border-color': 'primary-500'}" ng-show="posts.success">
                <strong>Success!</strong> {{ posts.message }}
            </div>
            <div md-colors="{color: 'red-500', 'border-color': 'primary-500'}" ng-show="posts.error">
                <strong>Error!</strong> {{ posts.message }}
            </div>

        </form>
    </md-content>

</div>