<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-repeat="post in posts">
            <div class="post-preview">
                <a href="#!/post/{{ post.$id }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.desc }}
                    </h3>
                </a>
                <p class="post-meta">Posted by {{ post.user }} on {{ post.date }}</p>
            </div>
            <hr>
        </div>
    </div>
</div>
